<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.gbc.comp3074.personalrestaurantguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalRestaurantGuide">
        <activity android:name=".RestaurantListActivity" />
        <activity android:name=".EditRestaurantActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantDetailsActivity"
            android:label="Restaurant Details"
            android:parentActivityName=".RestaurantsActivity" />
        <activity
            android:name=".AddRestaurantActivity"
            android:label="Add Restaurant"
            android:parentActivityName=".RestaurantsActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".RestaurantsActivity" /> <!-- Setting 'restaurants' as parent screen to enable back button functionality -->
        <activity android:name=".RestaurantsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>